/* basics */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: #3a1f23;
    color: #cab19b;
    padding: 17px;
    border-radius: 15px;
    font-size: 19px;
}


/* button on hover (about us part) */
button:hover {
    background-color: #7a5051;
    transform: scale(1.1);
    transition: 0.2s;
    color: #cab19b;
}

/* the logo code inside the header*/
.logo {
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    color: #cab19b;
    font-weight: 350;
    font-style: bold;
    padding: 6px;
}

/* header codes */
header {
    background-color: #3a1f23;
    padding: 0px;
    margin: 0px;
    position: sticky;
    top: 0px;
    z-index: 1000;
}


.header_elements,
.header_rightSide {
    display: flex;
}

.header_elements ul {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-top: 30px;

}

.header_elements li a {
    color: #cab19b;
    font-size: 20px;
    padding: 10px;
}

.header_elements {
    margin-left: 30px;
    gap: 650px;
    margin-top: 10px;
}

.header_rightSide {
    gap: 70px;
}

/* on hover on header elements */

.header_elements li a:hover {
    border-radius: 40px;
    box-shadow: 0 0 10px #cab19b;
}

.basket_icon:hover,
.logo:hover {
    box-shadow: 0 0 10px #cab19b;
    border-radius: 20px;
}




/* footer */
footer {
    background-color: #3a1f23;
}

footer hr {
    border: none;
    height: 30px;
    width: 0.5px;
    margin: auto;
    opacity: 0.5;
    background-color: #cab19b;
    padding: 0px;
    margin: 0px;

}

.row_one {
    width: auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.row_one a {
    color: #cab19b;
    padding: 10px;
}

.row_tow ul {
    width: auto;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    list-style: none;
    padding-right: 10px;
}

footer p {
    color: #cab19b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagramIcon {
    padding: 10px;
}

/* on hover on footer */
.row_tow img:hover,
.row_one a:hover {
    border-radius: 40px;
    box-shadow: 0 0 10px #cab19b;
}


/* menu section */

h1 {
    text-align: center;
    color: #3a1f23;
    font-family: "Playwrite IT Moderna", cursive;
    font-size: 30px;
    margin-bottom: 30px;
}

h2 {
    text-align: left;
    color: #3a1f23;
    font-family: "Playwrite IT Moderna", cursive;
    font-size: 20px;
    margin-bottom: 25px;
}

.card_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priceAndLogo {
    display: flex;
    gap: 130px;
}

.name {
    color: #3a1f23;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

}

.price {
    font-size: 18;
    color: #3a1f23;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.price::after {
    content: "⃁";
}

.product_img {
    border-radius: 25px;
    width: 100%;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 20px;
}

.hot_drinks, .cold_drinks, .desserts {
    margin-left: 50px;
}

.product_card{
    width: 250px;
    border-radius: 25px;
    border: 2px solid #3a1f23;
    padding: 15px;
    margin-bottom: 29px;
}

.icon{
    border-radius: 25px;
}

.product_card:hover{
    box-shadow: 0px 0px 20px #7a5051, 0px 0px 40px #7a5051;
}
.icon:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #e7d6c7;
}








