/* basics */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* the logo code inside the header*/
.logo {
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    color: #cab19b;
    font-weight: 350;
    font-style: bold;
    padding: 6px;
}

/* header codes */
header {
    background-color: #3a1f23;
    padding: 0px;
    margin: 0px;
}


.header_elements,
.header_rightSide {
    display: flex;
}

.header_elements ul {
    display: flex;
    list-style: none;
    gap: 70px;
    margin-top: 30px;
}

.header_elements li a {
    color: #cab19b;
    font-size: 20px;
    padding: 10px;
}

.header_elements {
    margin-left: 30px;
    gap: 750px;
}

.header_rightSide {
    gap: 70px;
}

/* on hover on header elements */

.header_elements li a:hover {
    border-radius: 40px;
    box-shadow: 0 0 10px #cab19b;
}

.basket_icon:hover,
.logo:hover {
    box-shadow: 0 0 10px #cab19b;
    border-radius: 20px;
}




/* footer */
footer {
    background-color: #3a1f23;
}

footer hr {
    border: none;
    height: 30px;
    width: 0.5px;
    margin: auto;
    opacity: 0.5;
    background-color: #cab19b;
    padding: 0px;
    margin: 0px;

}

.row_one {
    width: auto;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.row_one a {
    color: #cab19b;
    padding: 10px;
}

.row_tow ul {
    width: auto;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    list-style: none;
    padding-right: 10px;
}

footer p {
    color: #cab19b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instagramIcon {
    padding: 10px;
}

/* on hover on footer */
.row_tow img:hover, .row_one a:hover{
    border-radius: 40px;
    box-shadow: 0 0 10px #cab19b;
}


.menu_card {
    background-color: #cab19b;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 15px rgba( 0, 0, 0, 0 ,1);
}

.menu_card :hover {
    transform: translateY(-5px);
    
}

.menu_card:hover img {
    transform: scale(2);
    transition: transform 0.5s ease;
}

.menu_card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.name {
    font-size: 15px;
    font-weight: bold;
    margin: 4.8px 0;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.8px;
    font-weight: bold;
    font-size: 13px;
}

.baskets {
    border: none;
    border-radius: 50%;
    padding: 4.8px;
    cursor: pointer;
    font-size: 10px;
    color: aliceblue;
    background-color: #cab19b;
    transition: background 0.5s;
}

.basket:hover {
    
    background-color: #3a1f23;
}


/* Grid */
.menu_section {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: left;
    margin: 24px 0 14.5px 0;
    font-size: 28px;
    color: #3a1f23;
}

.menu_title {
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
    color: #3a1f23;
}

#desserts {
    color: #3a1f23;
    font-size: 20px;
    text-align: left;
    margin-bottom: 24px;
}

.describe {
    font-size: 13px;


}


